
 header{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 110px;
}
header::first-letter{
    box-sizing: border-box;
    color: black;
    background-color: white;
}
ul{
    margin: 3px 0px;
    padding:0px;
    text-align: center;
    color: white;
    background-color: black;
}
ul li{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 21px;
    display: inline;
    padding: 15px;
}
ul li::after{
    content: "";
    border-right: 1px solid white;
    margin-left: 12px;
    height: 1px;
}
nav a{
    background-color: black;
    padding: 0px 10px;
}

.box-1 img{
    position: relative;
    height: 400px;
    width: 600px;
}
.sports::before{
    content: "";
    display: inline-block;
    margin-right: .5rem;
    border-left: 5px solid orange;
    height: 23px;
    width: 0;
    padding: 0;
}
.sports:hover{
    text-decoration: underline;
    clear:right;
}

/* img:hover{
    border-radius: 20px ;
    height: 450px;
    width: 650px;
} */

footer{
    color: white;
    background-color: black;
    text-align: center;
    bottom: 0px;
}
.my{
    content: "";
    display: inline-block;
    border-bottom: 5px solid orange;
}
.my-r:hover{
    text-decoration: underline;
}
.my-r::before{
    content: "";
    font-size: large;
    display:inline-block;
    margin-right: .5rem;
    border-left: 5px solid red;
    height: 20px;
    width: 0px;
    padding: 0px;
}
.work::before{
    content: "";
    display: inline-block;
    margin-right: .5rem;
    border-left: 5px solid rgba(0, 4, 255, 0.521);
    height: 23px;
    width: 0px;
    padding: 0px;

}
.work:hover{
    text-decoration: underline;
}
.class1{
    content: "";
    display: inline-block;
    border-bottom: 5px solid orange;
}
.class2{
    content: "";
    display: inline-block;
    border-bottom: 5px solid rgb(255, 174, 0);
}
.class1::selection{
    color: white;
    background-color: rebeccapurple;
}
.class2::selection{
    color: white;
    background-color: teal;
}
h4{
position: absolute;
bottom: 190px;
width: 600px;
font-size: larger;
color: white;
padding: 0px 10px 0px;
}
.container div{ 
    display:inline-flex;
    border: 1px solid black;
    padding: 10px;
}
.container-2 img{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    top: 165px;
    left: 650px;
    border: 1px solid black;
    height: 200px;
    width: 400px;
}
.container-2 h5{
    position: absolute;
    top: 300px;
    left: 650px;
    font-size:15px;
    padding: 9px;
    color: blue;
}
.box-3 img{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    height: 180px;
    width: 410px;
    top:400px;
    left: 650px;
    border: 1px solid black;
    padding: 7px;
    margin-top: 0px;
}
.container-3 img{
    position: absolute;
    height: 410px;
    width: 400px;
    top: 167px;
    right: 10px;
    border: 1px solid black;
    padding: 8px;
    margin-left: 5px;
}
.container-3 h6{
    position: absolute;
    display: block;
    bottom: 150px;
    right: 50px;
    color: white;
    font-size: medium
}