
@font-face {
  font-family: 'Regular-font';
  src: url('/static/assets/fonts/en/NetflixSans_W_Rg.woff2') format('woff2'),
       url('/static/assets/fonts/en/NetflixSans_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bold-font';
  src: url('/static/assets/fonts/en/NetflixSans_W_Bd.woff2') format('woff2'),
       url('/static/assets/fonts/en/NetflixSans_W_Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}